<mat-toolbar class="navbar" color="primary">
  <a class="logo-link">
    <img src="assets/logoamen.ico" alt="Amen Bank Logo" class="logo" [routerLink]="['home']">
  </a>
  <span class="title">Amen Bank</span>
  <span class="spacer"></span>
  <button mat-button class="nav-button" [routerLink]="['client']">Client Dashboard</button>
  <button mat-button  class="nav-button" [routerLink]="['admin']">Admin Dashboard</button>
  <button mat-button  class="nav-button" [routerLink]="['login']">login</button>

</mat-toolbar>