<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-title class="auth-title">S'inscrire</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" formControlName="firstname" required>
          <mat-error *ngIf="signUpForm.get('firstname')?.hasError('required')">Le prénom est requis</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom" formControlName="username" required>
          <mat-error *ngIf="signUpForm.get('username')?.hasError('required')">Le nom d'utilisateur est requis</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Adresse e-mail</mat-label>
          <input matInput placeholder="Adresse e-mail" formControlName="email" type="email" required>
          <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">L'adresse e-mail est requise</mat-error>
          <mat-error *ngIf="signUpForm.get('email')?.hasError('email')">Adresse e-mail invalide</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Mot de passe" formControlName="password" type="password" required>
          <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">Le mot de passe est requis</mat-error>
          <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">Le mot de passe doit comporter au moins 6 caractères</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirmer le mot de passe</mat-label>
          <input matInput placeholder="Confirmer le mot de passe" formControlName="confirmPassword" type="password" required>
          <mat-error *ngIf="signUpForm.get('confirmPassword')?.hasError('required')">La confirmation du mot de passe est requise</mat-error>
          <mat-error *ngIf="signUpForm.hasError('passwordMismatch')">Les mots de passe ne correspondent pas</mat-error>
        </mat-form-field>

        <div class="form-group">
          <mat-checkbox formControlName="mfaEnabled">
            Activer la 2FA (Authentification à deux facteurs)
          </mat-checkbox>
        </div>

        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="signUpForm.invalid">S'inscrire</button>

        <a mat-button routerLink="/login">Se connecter</a>
      </form>

      <div class="container" *ngIf="authResponse?.mfaEnabled">
        <div class="success-message-panel" *ngIf="message">
          <div class="success-icon">&#10004;</div>
          <div class="success-message">{{message}}</div>
        </div>

        <h2>Configurer l'Authentification à Deux Facteurs</h2>
        <div class="qr-code">
          <img [src]="authResponse.secretImageUri" alt="QR Code">
        </div>
        <div class="form-group">
          <label for="validationCode">Entrez le code de validation à 6 chiffres généré par l'application</label>
          <input
            type="text"
            id="validationCode"
            name="validationCode"
            required
            [(ngModel)]="otpCode"
            [ngModelOptions]="{standalone: true}"
          >
        </div>
        <button
          type="button"
          (click)="verifyTfa()"
          [class.button-disabled]="otpCode.length < 6"
        >Vérifier le code</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
